@using AutoPortal.Libs;
@using AutoPortal.Models.AppModels;
@using AutoPortal.Models.DbModels;
@{
    ViewData["Title"] = "Jármű kezelés";
}

@section Scripts{
    <script>
        $(document).ready(function () {
            var context = $('#mileageChart')[0].getContext('2d');

            var mileageLineChart = new Chart(context, {
                type: 'line', //Diagram típus
                data: {
                    labels: [
                        @{
                            List<MileageStandModel> models = ViewBag.MileageStands;
                            foreach (MileageStandModel msm in models)
                            {
                                string text = "\"" + msm.RecordedDate.ToString("yyyy-MM-dd") + "\"";
                                if (msm != models.Last())
                                    text += ",\n";
                                WriteLiteral(text);
                            }
                        }
                    ], //X tengely címkék
                    datasets: [{
                        label: 'Futás adatok', //Adatsor címkék
                        data: [
                            @{
                                foreach (MileageStandModel m in models)
                                {
                                    if (m == models.Last())
                                        Write(m.MileageStand);
                                    else
                                        Write(m.MileageStand + ", ");
                                }
                            }
                        ], //Adatok
                        backgroundColor: 'rgba(255, 0, 0, 0.6)', //Kitöltés színe
                        borderColor: 'rgba(255, 0, 0, 1)', //Vonal színe
                        borderWidth: 2 //Vonal vastagság
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true // Az y tengely minimum értéke 0
                        }
                    }
                }
            });
        });

        function changeUserVehiclePermBtb(){
            let userMail = $('#newUserVehiclePermMail').val();
            let userPerm = $('#newUserVehiclePermPerm').val();

            $('#newUserVehiclePermMail').val("");
            $('#newUserVehiclePermPerm').val(0);

            changeUserVehiclePerm(userMail, userPerm);
        }

        function newVehicleOwner() {
            let vehicle = "@ViewBag.Vehicle.chassis_number";
            $.ajax({
                type: "POST",
                url: "newVehicleOwner",
                data: {
                    'vehicleId': vehicle,
                    'newOwnerMail': $('#newVehicleOwnerMail').val()
                },
                success: function (data) {
                    refreshPage();
                }
            });
        }

        function changeUserVehiclePerm(userMail, value){
            let vehicle = "@ViewBag.Vehicle.chassis_number";
            $.ajax({
                type: "POST",
                url: "updateVehicleUserpPerm",
                //dataType: "json",
                //contentType: "application/json",
                data: {
                    'targerMail': userMail,
                    'vehId': vehicle,
                    'perm': value
                },
                success: function (data) {
                    if (value == 0) {
                        if (document.getElementById("permTable_" + userMail)) {
                            document.getElementById("permTable_" + userMail).remove();
                        }
                    } else{
                        if (!document.getElementById("permTable_" + userMail)) {
                            let optionsTag = "";
                            if(value == 1)
                                optionsTag = '<option value="1" selected>Tulaj</option><option value="2">Üzembentartó</option><option value="3">Sofőr</option><option value="4">kereskedő</option><option value="0">Jogosultság megszűntetése</option>';
                            if(value == 2)
                                optionsTag = '<option value="1">Tulaj</option><option value="2" selected>Üzembentartó</option><option value="3">Sofőr</option><option value="4">kereskedő</option><option value="0">Jogosultság megszűntetése</option>';
                            if(value == 3)
                                optionsTag = '<option value="1" >Tulaj</option><option value="2">Üzembentartó</option><option value="3" selected>Sofőr</option><option value="4">kereskedő</option><option value="0">Jogosultság megszűntetése</option>';
                            if (value == 4)
                                optionsTag = '<option value="1" >Tulaj</option><option value="2">Üzembentartó</option><option value="3">Sofőr</option><option value="4" selected>kereskedő</option><option value="0">Jogosultság megszűntetése</option>';
                                console.log(optionsTag);
                            $('#permTableBody').append(`<tr id="permTable_` + userMail + `"><td>`+userMail+`</td><td><select class="form-control" onchange="changeUserVehiclePerm('`+userMail+`', this.value);">` +
                            (optionsTag) + `</select></td></tr>`);
                        }
                    }
                }
            });
        }

        function deleteFueilingEvent(fuelingId){
            $.ajax({
                type: "POST",
                url: "deleteFuelingData",
                data: {
                    'fuelingId': fuelingId
                },
                success: function (data) {
                    $('#refuelData_' + fuelingId).remove();
                }
            });
        }

        function deleteServiceEvent(eventId){
            $.ajax({
                type: "POST",
                url: "deleteServiceEventData",
                data: {
                    'serviceEventId': eventId
                },
                success: function (data) {
                    $('#serviceEventData_' + eventId).remove();
                }
            });
        }

        function deleteOtherCost (costId){
            $.ajax({
                type: "POST",
                url: "deleteOtherCostData",
                data: {
                    'costId': costId
                },
                success: function (data) {
                    $('#otherCostDiv_' + costId).remove();
                }
            });
        }

        function deleteMileageStand(standId){
            $.ajax({
                type: "POST",
                url: "deleteMileageData",
                data: {
                    'mileageId': standId
                }
            });
            location.reload();
        }

        function addMileageStand(vid){

        }

        function addServiceEvent(vid) {
            $.ajax({
                type: "POST",
                url: "addServiceEvent",
                contentType: "application/json",
                data: JSON.stringify({
                    'vehicleId': vid,
                    'newServiceService': $('#newServiceService').val(),
                    'newServiceTitle': $('#newServiceTitle').val(),
                    'newServiceDescription': $('#newServiceDescription').val(),
                    'newServiceOther': $('#newServiceOther').val(),
                    'newServiceCost': $('#newServiceCost').val(),
                    'newServiceDate': $('#newServiceDate').val(),
                    'newServiceMileage': $('#newServiceMileage').val(),
                    'newServiceType': $('#newServiceType').val()
                }),
                success: function(data){
                    refreshPage();
                }
            });
        }

        function addOtherCost(vid){
            $.ajax({
                type: "POST",
                url: "addOtherCost",
                contentType: "application/json",
                data: JSON.stringify({
                    'vehicle_id': vid,
                    'title': $('#newCostTitle').val(),
                    'description': $('#newCostDescription').val(),
                    'cost': $('#newCostCost').val(),
                    'date': $('#newCostDate').val()
                }),
                success: function (data) {
                    refreshPage();
                }
            });
        }

        function addFuelingData(vid) {
            $.ajax({
                type: "POST",
                url: "addRefuelingData",
                contentType: "application/json",
                data: JSON.stringify({
                    'vehicle_id': vid,
                    'refuel_cost': $('#newRefuelCost').val(),
                    'traveled_distance': $('#newRefuelDistance').val(),
                    'amount_of_fuel': $('#newRefuelAmount').val(),
                    'premium_fuel': $('#newRefuelPremium').is(":checked"),
                    'fueling_date': $('#newRefuelDate').val()
                }),
                success: function (data) {
                    refreshPage();
                }
            });
        }

        function refreshPage() {
            console.log(location);
            location.reload();
        }

        function updateVehicleDetails(){
            $.ajax({
                type: "POST",
                url: "updateVehicleDetails",
                contentType: "application/json",
                data: JSON.stringify({
                    'chassis_number': $('#f_chassis_number').val(),
                    'license': $('#f_license').val(),
                    'make': $('#f_make').val(),
                    'model': $('#f_model').val(),
                    'modeltype': $('#f_modeltype').val(),
                    'manufactyear': $('#f_manufactyear').val(),
                    'category': $('#f_category').val(),
                    'body': $('#f_body').val(),
                    'numofdoors': $('#f_numofdoors').val(),
                    'numofseats': $('#f_numofseats').val(),
                    'weight': $('#f_weight').val(),
                    'maxweight': $('#f_maxweight').val(),
                    'enginenumber': $('#f_enginenumber').val(),
                    'enginecode': $('#f_enginecode').val(),
                    'fueltype': $('#f_fueltype').val(),
                    'engineccm': $('#f_engineccm').val(),
                    'performance': $('#f_performance').val(),
                    'torque': $('#f_torque').val(),
                    'transmissiontype': $('#f_transmissiontype').val(),
                    'numofgears': $('#f_numofgears').val(),
                    'drivetype': $('#f_drivetype').val()
                }),
                success: function (data) {
                }
            });
        }

    </script>
}

@section CSS{
    <style>
        .tableTitle {
            font-size: 30px;
            text-align: center;
            color: red;
        }

        .tableLeft {
            text-align: left;
        }

        .tableRight {
            text-align: right;
        }

        .tableCenter {
            text-align: center;
        }
    </style>
}

<div class="row col-12">

    @if (@ViewBag.Vehicle != null)
    {
        <h1>Jármű kezelés - @ViewBag.Vehicle.chassis_number</h1>
        <div class="row">
            <!--Jármű adatok-->
            <div class="col-12">
                <table style="width:100%;" class="table table-striped">
                    <tbody>
                        <tr><th class="tableTitle" colspan="4">Általános adatok</th></tr>
                        <tr>
                            <th class="tableLeft">Alvázszám</th>
                            <td class="tableLeft">@ViewBag.Vehicle.chassis_number <input type="hidden" value="@ViewBag.Vehicle.chassis_number" id="f_chassis_number" /></td>
                            <th class="tableLeft">Rendszám</th>
                            <td class="tableLeft"><input type="text" class="form-control" value="@ViewBag.Vehicle.license" id="f_license" /></td>
                        </tr>
                        <tr>
                            <th class="tableLeft">Márka</th>
                            <td><input type="text" class="form-control" value="@ViewBag.Vehicle.make" id="f_make" /></td>
                            <th class="tableLeft">Model</th>
                            <td class="tableLeft"><input type="text" class="form-control" value="@ViewBag.Vehicle.model" id="f_model" /></td>
                        </tr>
                        <tr>
                            <th>Típusmegjelölés</th>
                            <td><input type="text" class="form-control" value="@ViewBag.Vehicle.modeltype" id="f_modeltype"/></td>
                            <th>Évjárat</th>
                            <td><input type="number" class="form-control" value="@ViewBag.Vehicle.manufact_year" id="f_manufactyear"/></td>
                        </tr>
                        <tr>
                            <th class="tableLeft">Jármű kategória</th>
                            <td class="tableLeft">
                                <select class="js-example-basic-multiple form-control" id="f_category">
                                    @foreach (var category in ViewBag.vehicleCategories)
                                    {
                                        if (ViewBag.Vehicle.category == category.id)
                                        {
                                            <option value="@category.id" selected>@category.category</option>
                                        }
                                        else
                                        {
                                            <option value="@category.id">@category.category</option>
                                        }
                                        
                                    }
                                </select></td>
                            <th class="tableLeft">Kivitel</th>
                            <td class="tableLeft"><input type="text" class="form-control" value="@ViewBag.Vehicle.body" id="f_body"/></td>
                        </tr>
                        <tr>
                            <th class="tableLeft">Ajtók száma</th>
                            <td class="tableLeft"><input type="number" class="form-control" value="@ViewBag.Vehicle.num_of_doors" id="f_numofdoors" /></td>
                            <th class="tableLeft">Szállítható személyek száma</th>
                            <td class="tableLeft"><input type="number" class="form-control" value="@ViewBag.Vehicle.num_of_seats" id="f_numofseats" /></td>
                        </tr>
                        <tr>
                            <th class="tableLeft">Karosszéria tömege</th>
                            <td class="tableLeft"><input type="number" class="form-control" value="@ViewBag.Vehicle.weight" id="f_weight" /></td>
                            <th class="tableLeft">Megengedett legnagyobb össztömeg</th>
                            <td class="tableLeft"><input type="number" class="form-control" value="@ViewBag.Vehicle.max_weight" id="f_maxweight" /></td>
                        </tr>

                        <tr><th class="tableTitle" colspan="4">Motor adatok</th></tr>
                        <tr>
                            <th class="tableLeft">Motorszám</th>
                            <td class="tableLeft"><input type="text" class="form-control" value="@ViewBag.Vehicle.engine_number" id="f_enginenumber" /></td>
                            <th class="tableLeft">Motorkód</th>
                            <td class="tableLeft"><input type="text" class="form-control" value="@ViewBag.Vehicle.engine_code" id="f_enginecode" /></td>
                        </tr>
                        <tr>
                            <th class="tableLeft">Üzemanyag</th>
                            <td class="tableLeft">
                                <select class="form-control" id="f_fueltype">
                                    @foreach (var fuel in ViewBag.fuels)
                                    {
                                        if(@ViewBag.Vehicle.fuel == fuel.id){
                                            <option value="@fuel.id" selected>@fuel.fuel</option>
                                        }
                                        else
                                        {
                                            <option value="@fuel.id">@fuel.fuel</option>
                                        }
                                    }
                                </select>
                            </td>
                            <th class="tableLeft">Lökettérfogat</th>
                            <td class="tableLeft"><input type="number" class="form-control" value="@ViewBag.Vehicle.engine_ccm" id="f_engineccm" /></td>
                        </tr>
                        <tr>
                            <th class="tableLeft">Teljesítmény</th>
                            <td class="tableLeft"><input type="number" class="form-control" value="@ViewBag.Vehicle.performance" id="f_performance" /></td>
                            <th class="tableLeft">Nyomaték</th>
                            <td class="tableLeft"><input type="number" class="form-control" value="@ViewBag.Vehicle.torque" id="f_torque" /></td>
                        </tr>

                        <tr><th class="tableTitle" colspan="4">Hajtáslánc adatok</th></tr>
                        <tr>
                            <th class="tableLeft">Váltó típusa</th>
                            <td class="tableLeft">
                                <select class="form-control" id="f_transmissiontype" >
                                    @foreach (var transmission in ViewBag.transmissions)
                                    {
                                        if (ViewBag.Vehicle.transmission == transmission.id)
                                        {
                                            <option value="@transmission.id" selected>@transmission.transmission</option>
                                        }
                                        else
                                        {
                                            <option value="@transmission.id">@transmission.transmission</option>
                                        }
                                        
                                    }
                                </select>
                            </td>
                            <th class="tableLeft">Váltó fokozatok száma</th>
                            <td class="tableLeft"><input type="number" class="form-control" value="@ViewBag.Vehicle.num_of_gears" id="f_numofgears" /></td>
                        </tr>
                        <tr>
                            <th class="">Meghajtás</th>
                            <td class="">
                                <select class="form-control" id="f_drivetype">
                                    @foreach (var drive in ViewBag.drives)
                                    {
                                        if (ViewBag.Vehicle.drive == drive.id)
                                        {
                                            <option value="@drive.id" selected>@drive.drive</option>
                                        }else{
                                            <option value="@drive.id">@drive.drive</option>
                                        }
                                    }
                                </select>
                            </td>
                            <th></th>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn btn-success" style="width:100%;margin-bottom:2%;" onclick="updateVehicleDetails();">Módosítások mentése</button>
            </div>

            <!--Adat rögzítés (tankolás, egyéb kiadás)-->

            <!--Tankolás rögzítés-->
            <div class="row col-12" style="padding-bottom:2%;">
                <div class="col-6">
                    <h2>Tankolás rögzítése</h2>
                    <div>
                        <fieldset>
                            <label for="newRefuelCost">Költség</label>
                            <input type="number" oninput="this.value=this.value.replace(/[^0-9]/g,'');" class="form-control" id="newRefuelCost" value="0" title="Költség" />

                            <label for="newRefuelDistance">Előző tankolás óta megtett táv</label>
                            <input type="number" oninput="this.value=this.value.replace(/[^0-9]/g,'');" class="form-control" id="newRefuelDistance" value="0" title="Előző tankolás óta megtett táv" />

                            <label for="newRefuelAmount">Tankolt mennyiség</label>
                            <input type="number" oninput="this.value=this.value.replace(/[^0-9]/g,'');" class="form-control" id="newRefuelAmount" value="0" title="Tankolt mennyiség" />

                            <input type="radio" id="newRefuelStandard" name="fuelType" checked />
                            <label for="newRefuelStandard">Hagyományos üzemanyag</label>

                            <br />
                            <input type="radio" id="newRefuelPremium" name="fuelType" />
                            <label for="newRefuelPremium">Prémium üzemanyag</label>
                            <br />
                            <br />

                            <label for="newRefuelDate">Tankolás időpontja</label>
                            <input type="datetime-local" class="form-control" id="newRefuelDate" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" />

                            <button class="btn btn-success" style="width:100%; margin-top:3%;margin-bottom:2%;" onclick="addFuelingData('@ViewBag.Vehicle.chassis_number');">Tankolás rögzítése</button>
                        </fieldset>
                    </div>
                </div>

                <!--Egyéb kiadás rögzítés-->
                <div class="col-6">
                    <h2>Egyéb kiadás rögzítése</h2>
                    <div>
                        <label for="newCostTitle">Cím</label>
                        <input type="text" class="form-control" id="newCostTitle" placeholder="Cím..." />

                        <label for="newCostDescription">Leírás</label>
                        <textarea id="newCostDescription" class="form-control" placeholder="Leírás..."></textarea>

                        <label for="newCostCost">Költség</label>
                        <input type="number" oninput="this.value=this.value.replace(/[^0-9]/g,'');" class="form-control" id="newCostCost" value="0" placeholder="Költség" />

                        <label for="newCostDate">Dátum</label>
                        <input type="datetime-local" class="form-control" id="newCostDate" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" />

                        <button class="btn btn-success" style="width:100%; margin-top:3%;" onclick="addOtherCost('@ViewBag.Vehicle.chassis_number');">Költség rögzítése</button>
                    </div>
                </div>

                <!--Szerviz rögzítés-->
                <div class="col-6">
                    <h2>Szerviz rögzítése</h2>
                    <div>
                        <div class="form-group">
                            <label for="newServiceService">Szerviz</label>
                            <datalist id="suggestions_service">
                                @foreach (var service in ViewBag.Services)
                                {
                                    <option value="@service.id">@service.name (<i>@service.email</i>)</option>
                                }
                            </datalist>
                            <input autoComplete="on" name="newServiceService" id="newServiceService" list="suggestions_service" class="form-control" required />
                        </div>

                        <label for="newServiceTitle">Szerviz oka ('címe')</label>
                        <input type="text" class="form-control" name="newServiceTitle" id="newServiceTitle" />

                        <label for="newServiceDescription">Szerviz részletes leírás</label>
                        <textarea id="newServiceDescription" class="form-control" placeholder="Leírás..."></textarea>

                        <label for="newServiceCost">Költség</label>
                        <input type="number" oninput="this.value=this.value.replace(/[^0-9]/g,'');" class="form-control" id="newServiceCost" value="0" placeholder="Költség" />

                        <label for="newServiceDate">Dátum</label>
                        <input type="datetime-local" class="form-control" id="newServiceDate" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" />

                        <label for="newServiceMileage">Kilóméteróra állás</label>
                        <input type="number" oninput="this.value=this.value.replace(/[^0-9]/g,'');" class="form-control" id="newServiceMileage" value="0" placeholder="Kilóméteróra állás" />

                        <label for="newServiceType">Szerviz típusa</label>
                        <select class="form-control" name="newServiceService" id="newServiceService" required>
                            @foreach (int type in Enum.GetValues(typeof(eServiceType)))
                            {
                                <option value="@type">@EnumHelper.GetServiceTypeString((eServiceType)type)</option>
                            }
                            
                        </select>

                        <label for="newServiceOther">Megjegyzés</label>
                        <input type="text" class="form-control" name="newServiceOther" id="newServiceOther" />

                        <button class="btn btn-success" style="width:100%; margin-top:3%;" onclick="addServiceEvent('@ViewBag.Vehicle.chassis_number');">Szerviz rögzítése</button>
                    </div>
                </div>

                <!--Jogosultság kezelés-->
                <div class="col-6">
                    <h2>Jogosultság kezelés</h2>
                    <h3>Jármű jogosultságok</h3>
                    <div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Email</th>
                                    <th>Jogosultság</th>
                                </tr>
                            </thead>

                            <tbody id="permTableBody">
                                @foreach (var item in (List<(string, eVehiclePermissions)>)ViewBag.VehiclePermissions)
                                {
                                    <tr id="permTable_@item.Item1">
                                        <td>@item.Item1</td>
                                        <td><select class="form-control" onchange="changeUserVehiclePerm('@item.Item1', this.value);">
                                            @if(item.Item2 == eVehiclePermissions.OWNER)
                                            {
                                                <option value="1" selected>Tulaj</option>
                                                <option value="2">Üzembentartó</option>
                                                <option value="3">Sofőr</option>
                                                <option value="4">Kereskedő</option>
                                                <option value="0">Jogosultság megszűntetése</option>
                                            }
                                            @if(item.Item2 == eVehiclePermissions.SUBOWNER)
                                            {
                                                <option value="1">Tulaj</option>
                                                <option value="2" selected>Üzembentartó</option>
                                                <option value="3">Sofőr</option>
                                                    <option value="4">Kereskedő</option>
                                                <option value="0">Jogosultság megszűntetése</option>
                                            }
                                            @if(item.Item2 == eVehiclePermissions.DRIVER)
                                            {
                                                <option value="1">Tulaj</option>
                                                <option value="2">Üzembentartó</option>
                                                <option value="3" selected>Sofőr</option>
                                                <option value="4">Kereskedő</option>
                                                <option value="0">Jogosultság megszűntetése</option>
                                            }
                                            @if(item.Item2 == eVehiclePermissions.DEALER)
                                            {
                                                <option value="1">Tulaj</option>
                                                <option value="2">Üzembentartó</option>
                                                <option value="3" >Sofőr</option>
                                                <option value="4" selected>Kereskedő</option>
                                                <option value="0">Jogosultság megszűntetése</option>
                                            }
                                        </select></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <h3>Új jogosultság</h3>
                        <input type="text" class="form-control" placeholder="E-Mail" id="newUserVehiclePermMail" />
                        <select class="form-control" id="newUserVehiclePermPerm">
                            <option value="1">Tulaj</option>
                            <option value="2">Üzembentartó</option>
                            <option value="3">Sofőr</option>
                            <option value="4">Kereskedő</option>
                            <option value="0" selected>Nincs</option>
                        </select>
                        <button class="btn btn-success" onclick="changeUserVehiclePermBtb();" style="margin-top:3%; width:100%;">Jogosultság felvétele</button>
                    </div>

                    <h3 style="margin-top:3%;">Jogi tulajdonosváltás</h3>
                    <p><label class="text-danger"><b>FIGYELEM!</b></label> A jogi tulajdonosváltás minden jelenlegi jogosultságot töröl a járműről, és a rögzített adatok archiválásra kerülnek!</p>
                    <input type="text" class="form-control" placeholder="E-Mail" id="newVehicleOwnerMail" />
                    <button class="btn btn-success" style="width:100%;margin-bottom:1%;margin-top:3%;" onclick="newVehicleOwner();">Új tulajdonos rögzítése</button>
                </div>
            </div>

            <hr />
            <!--Esemény adatok-->
            <div>
                <button type="button" class="collapsible bi-arrow-90deg-down"> Tankolási adatok</button>
                <div class="col-12 content">
                    <h2>Korábbi tankolások</h2>
                    @if (ViewBag.Refuels == null || ((List<Refuel>)ViewBag.Refuels).Count == 0)
                    {
                        <p class="text-danger"><b>Nem található adat ebben a kategóriában!</b></p>
                    }
                    else
                    {
                        @foreach (Refuel rf in ViewBag.Refuels)
                        {
                            <div id="refuelData_@rf.id">
                                <button type="button" class="collapsible bi-arrow-90deg-down"> Tankolás - @rf.fueling_date</button>
                                <div class="content">
                                    <button style="float:right; margin-top:5px;" class="btn btn-danger bi bi-trash" onclick="deleteFueilingEvent('@rf.id')" ></button>
                                    <div class="row col-12">
                                        <div class="offset-2 col-4">
                                            <p>Fizetett: @rf.refuel_cost</p>
                                            <p>Tankolt mennyiség: @rf.amount_of_fuel</p>
                                            <p>Megtett táv: @rf.traveled_distance</p>
                                        </div>
                                        <div class="col-4">
                                            <p>Prémium üzemanyag: @if (rf.premium_fuel)
                                                {
                                                    <label style="color:green;"><b>Igen</b></label>
                                                }
                                                else
                                                {
                                                    <label style="color:red;"><b>Nem</b></label>
                                                }</p>
                                            <p>Átlag fogyasztás 100km-en: <b>@{
                                                        Write((float)rf.amount_of_fuel / rf.traveled_distance * 100);
                                                    }</b></p>
                                            <p>Átlag költség 100km-en: <b>@{
                                                        Write(((float)rf.amount_of_fuel / rf.traveled_distance * 100) * ((float)rf.refuel_cost / rf.amount_of_fuel));
                                                    }</b></p>
                                        </div>
                                        <p style="text-align:center;"><b>Tankolás dátuma: @rf.fueling_date</b></p>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>

                <button type="button" class="collapsible bi-arrow-90deg-down"> Futás adatok</button>
                <div class="col-12 content">
                    <h2>Futás adatok</h2>
                    @if (ViewBag.MileageStands == null || ((List<MileageStandModel>)ViewBag.MileageStands).Count == 0)
                    {
                        <p class="text-danger"><b>Nem található adat ebben a kategóriában!</b></p>
                    }
                    else
                    {
                        <table>
                            <tr>
                                <th style="width:50%;">Dátum</th>
                                <th style="width:35%;">Futásteljesítmény</th>
                                <th style="width:15%">Művelet</th>
                            </tr>
                            @{
                                MileageStandModel lastRow = null;
                            }
                            @foreach (MileageStandModel row in (List<MileageStandModel>)ViewBag.MileageStands)
                            {
                                <tr>
                                    <td>@row.RecordedDate</td>
                                    <td @if ((lastRow == null || lastRow.MileageStand <= row.MileageStand) && row.MileageStandType == eMileageStandType.USER_RECORDED) { Write("style=color:orange;font-weight:bold;"); } @if (lastRow != null && lastRow.MileageStand > row.MileageStand) { Write("style=color:red;font-weight:bold;"); }>@row.MileageStand @if (row.MileageStandType == eMileageStandType.USER_RECORDED)
                                        {
                                            <i>(Felhasználó által rögzítve)</i>
                                        }</td>
                                    <td>@if (row.MileageStandType == eMileageStandType.USER_RECORDED)
                                        {
                                            <button style="float:right; margin-top:5px;" class="btn btn-danger bi bi-trash" onclick="deleteMileageStand('@row.id')"></button>
                                        }
                                    </td>
                                </tr>
                                lastRow = row;
                            }
                        </table>
                        <canvas id="mileageChart"></canvas>
                    }
                </div>

                <button type="button" class="collapsible bi-arrow-90deg-down"> Szerviz adatok</button>
                <div class="col-12 content">
                    <h2>Korábbi szervizek</h2>
                    @if (ViewBag.ServiceEvents == null || ((List<ServiceEvent>)ViewBag.ServiceEvents).Count == 0)
                    {
                        <p class="text-danger"><b>Nem található adat ebben a kategóriában!</b></p>
                    }
                    else
                    {
                        @foreach (ServiceEvent se in ViewBag.ServiceEvents)
                        {
                            <div id="serviceEventData_@se.id">
                                <button type="button" class="collapsible bi-arrow-90deg-down"> @se.title</button>
                                <div class="content">
                                    <button style="float:right; margin-top:5px;" class="btn btn-danger bi bi-trash" onclick="deleteServiceEvent('@se.id')"></button>
                                    <p><b>Típus: </b>@EnumHelper.GetServiceTypeString(se.serviceType)</p>
                                    <p><b>Leírás: </b>@se.description</p>
                                    <p><b>Költség: </b>@se.cost</p>
                                    <p><b>Dátum: </b>@se.date</p>
                                    <p><b>Futásteljesítmény: </b>@se.mileage</p>
                                    <p><b>Megjegyzés: </b>@se.comment</p>
                                    <p><b>Szerviz: </b><a href="servicePublicProfile?serviceId=@se.service_id">@Service.GetServiceNameById(se.service_id)</a></p>
                                </div>
                            </div>
                        }
                    }
                </div>

                <button type="button" class="collapsible bi-arrow-90deg-down"> Egyéb költség adatok</button>
                <div class="col-12 content">
                    <h2>Korábbi egyéb költségek</h2>
                    @if (ViewBag.OtherCosts == null || ((List<OtherCost>)ViewBag.OtherCosts).Count == 0)
                    {
                        <p class="text-danger"><b>Nem található adat ebben a kategóriában!</b></p>
                    }
                    else
                    {
                        @foreach (OtherCost of in ViewBag.OtherCosts)
                        {
                            <div id="otherCostDiv_@of.id">
                                <button type="button" class="collapsible bi-arrow-90deg-down"> @of.title</button>
                                <div class="content">
                                    <button style="float:right; margin-top:5px;" class="btn btn-danger bi bi-trash" onclick="deleteOtherCost('@of.id')"></button>
                                    <p><b>Leírás: </b>@of.description</p>
                                    <p><b>Költség: </b>@of.cost</p>
                                    <p><b>Dátum: </b>@of.date</p>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>

    }
    else
    {
        <h1 class="text-danger">A keresett jármű nem található</h1>
    }

</div>