@{
    ViewData["Title"] = "Járműveim";
}

<div class="row">
    <div class="col-12">
        <h1>Járműveim</h1>
        @if (ViewBag.vehicles != null) {
            <table class="table table-striped table-responsive" style="width:100%;margin:auto;text-align:center;">
                <tr>
                    <th>Alvázszám</th>
                    <th>Márka</th>
                    <th>Modell</th>
                    <th>Évjárat</th>
                    <th>Jogviszony</th>
                </tr>
                @foreach(var item in ViewBag.vehicles) {
                    <tr>
                        <td><a href="manageVehicle?vehicleId=@item.v.chassis_number">@item.v.chassis_number</a></td>
                        <td>@item.v.make</td>
                        <td>@item.v.model</td>
                        <td>@item.v.manufact_year</td>
                        <td>@item.p</td>
                    </tr>
                }
            </table>
        }else{
            <h2>Még nem található jármű!</h2>
        }
    </div>
</div>